

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;}

h2{
    font-size: 2rem;}

h3{
    font-size: 1.7rem;}

p{
    font-size: 1.5rem;}

body {
    background-color: #E3F4F4;
}

.containerPadreGrid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 40px auto 1fr auto;
    grid-template-areas: 
        "header header header" 
        "hero hero hero"   
        "main main aside"
        "footer footer footer"
    ;
    gap: 10px;
}

@import "partials/variables";
@import "partials/header";
@import "partials/hero";
@import "partials/main";
@import "partials/aside";
@import "partials/footer";
@import "partials/nosotros";
@import "partials/registrarse";
@import "partials/insesion";
@import "partials/suscribirse";
@import "partials/media";

