.suscribirse--boton {
    background-color: $color--azul--oscuro--09122C;
    color: $color--celeste--muyclaromasclaro--D7E3FC;
    border-color: $color--blanquito--E3F4F4  ;
    padding: 0 50px;
    &:hover {
        background-color: $color--celeste--claro--ABC4FF;
        color: $color--azul--oscuro--09122C;
        border-color: $color--celeste--masclaro--B6CCFE;
    }
}