//HEADER

.header {
    padding: 0;
    grid-area: header;
    .fondo {
        background-color: $color--celeste--claro--ABC4FF;
        .navbar--gap {
            column-gap: 10px;
        }
    }
    a {
        text-decoration: none;
        color: $color--azul--oscuro--09122C;
        padding: 5px;
        transition: 250ms ease 100ms;
        &:hover {
            color: $color--celeste--muyclaromasclaro--D7E3FC;
            background-color: $color--azul--oscuro--09122C;
            border-radius: 5px;
        }
    }
}
.header--div{
    display: flex;
    justify-content: flex-end;
}

//  NAV

nav {
    display: flex;
    a {
        text-decoration: none;
        padding: 10px;
        color: $color--azul--oscuro--09122C;
        transition: 250ms ease 100ms;
        &:hover {
            color: $color--celeste--muyclaromasclaro--D7E3FC;
            background-color: $color--azul--oscuro--09122C;
            border-radius: 5px;
        }
    }
}