//INSESION

.insesion {
    .insesion--form{
        background-color: $color--azul--oscuro--09122C;
        padding: 30px 15px;
        border-radius: 10px;
        label {
            color: $color--celeste--muyclaromasclaro--D7E3FC;
        }
    }
    .insesion--divTextoFoto {
        h4 {
            color: $color--azul--oscuro--09122C;
        }
    }
    .insesion--imagenInsesion{
        display: block;
        max-width: 200px;
        max-height: 200px;
    }
}