//MAIN

.containerPadreGrid main {
    border-radius: 5px 5px 2px 2px;
    margin: 5px;
    grid-area: main;
    transition: 250ms ease 100ms;
    &:hover {
        background-color: $color--celeste--muyclaromasclaro--D7E3FC;
    }
    div {
        display: flex;
        flex-flow: row wrap;
        padding: 50px;
        row-gap: 25px;
        column-gap: 10px;
        section {
            width:49%;
            img {
                width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible del contenedor */
                height: 200px; /* Establece una altura fija */
                object-fit: cover; /* Asegura que las imágenes mantengan proporción y recorten si es necesario */
                border-radius: 5px; /* Opcional: esquinas redondeadas */
            /*     border: 1px solid #09122C; */
            border: 1px solid $color--azul--oscuro--09122C;
            }
            p {
                font-size: 18px;
                text-align: center;
                color: $color--azul--oscuro--09122C;
            }
            
            }
        }
    }