//REGISTRARSE

.registrarse {
    width: 30%;
    border: 2px solid  $color--azul--oscuro--09122C;
    border-radius: 5px;
    padding: 2rem;
    background-color: $color--azul--oscuro--09122C;
    .registrarse--div {
        label {
            color: $color--celeste--muyclaromasclaro--D7E3FC;
        } 
        div {
            color: $color--celeste--muyclaromasclaro--D7E3FC;
        } 
    }
    .registrarse--boton {
        button {
            padding: 0 30%;
            background-color: $color--celeste--claro--ABC4FF;
            border: 1px solid $color--celeste--claro--ABC4FF;
            color: $color--azul--oscuro--09122C;
            transition: 250ms ease 100ms;
            &:hover {
                background-color: $color--azul--oscuro--09122C;
                border-color: $color--celeste--claro--ABC4FF;
                color: $color--celeste--muyclaromasclaro--D7E3FC;
            }
        }
    }
}