//SUSCRIBIRSE



.containerSuscribirse {
    display: grid;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas: 
    "header"
    "suscripciones"
    "footer";
    .header {
        grid-area: header;
    }
    .suscribirse{
        grid-area: suscripciones;
        .suscribirse--li{
            background-color: $color--azul--oscuro--09122C;
            height: auto;
            h1 {
                color: $color--celeste--muyclaromasclaro--D7E3FC;
                text-align: center;
            }
            h2 {
                font-size: 1.5rem;
                color: $color--blanquito--E3F4F4;
            }
            h4 {
                font-size: 1.2rem;
                color: $color--blanquito--E3F4F4;
            }
            h5 {
                font-size: 1.1rem;
                color: $color--blanquito--E3F4F4;
            }
            p {
                font-size: 1rem;
                color: $color--blanquito--E3F4F4;
            }
            ul {
                li {
                    color: $color--blanquito--E3F4F4;
                }
            }
        }
    } 
    .suscribirse--footer {
        grid-area: footer;
        padding-bottom: 4px;
    }
}