//SUSCRIBIRSE



.papa {
    display: grid;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas: 
    "volver"
    "suscripciones"
    "footer";
    .suscribirse{
        grid-area: suscripciones;
        .suscribirse--li{
            background-color: $color--azul--oscuro--09122C;
            height: auto;
            h1 {
                color: $color--celeste--muyclaromasclaro--D7E3FC;
                text-align: center;
            }
            h2 {
                font-size: 1.5rem;
                color: $color--blanquito--E3F4F4;
            }
            h4 {
                font-size: 1.2rem;
                color: $color--blanquito--E3F4F4;
            }
            h5 {
                font-size: 1.1rem;
                color: $color--blanquito--E3F4F4;
            }
            p {
                font-size: 1rem;
                color: $color--blanquito--E3F4F4;
            }
            ul {
                li {
                    color: $color--blanquito--E3F4F4;
                }
            }
        }
    } 
    .suscribirse--volver {
        grid-area: volver;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
        ul {
            border-radius: 5px;
            li {
                h1 {
                    color: $color--celeste--muyclaromasclaro--D7E3FC;
                    text-align: center;
                }
                background-color: $color--azul--oscuro--09122C;
                a {
                    padding: 0 30%;
                    text-align: center;
                    text-decoration: none;
                    background-color:  $color--azul--oscuro--09122C;
                    color: $color--celeste--muyclaromasclaro--D7E3FC;
                    border: 1px solid $color--celeste--muyclaromasclaro--D7E3FC;
                    border-radius: 5px;
                    transition: 250ms ease 100ms;
                    &:hover {
                        color: $color--azul--oscuro--09122C;
                        background-color: $color--celeste--masclaro--B6CCFE;
                        border: 1px solid $color--azul--oscuro--09122C;
                    }
                }
                p {
                    color: $color--celeste--muyclaromasclaro--D7E3FC;
                    text-align: center;
                }
            }
        }
    }
    .suscribirse--footer {
        grid-area: footer;
    }
}