$color--azul--oscuro--09122C: #09122C ;
$color--celeste--claro--ABC4FF: #ABC4FF;
$color--celeste--masclaro--B6CCFE: #B6CCFE;
$color--celeste--muyclaromasclaro--D7E3FC: #D7E3FC;
$color--blanquito--E3F4F4: #E3F4F4;
$color--blanco--EDF2FB:#EDF2FB;

